<div class="nested-fields" style="border-bottom: 1px solid #202020; margin-bottom: 20px; padding-bottom: 10px">
  <% field.nested_fields.each do |attribute| -%>
    <div class="field-unit field-unit--<%= attribute.html_class %>">
      <%= render_field attribute, f: f %>
    </div>
  <% end -%>

  <div class="remove" style="margin-left: 20%;">
    <%= link_to_remove_association "Remove #{field.associated_class_name.titleize}", f %>
  </div>
</div>
